<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
   <title>Yue Liu's HomePage.</title>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
      <div class="wrapper">
          <header>
              <h1 align="center"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

              <img src="{{site.logo | relative_url}}" alt="Logo" />

              <h1></h1>

              Yue Liu graduated from <a href="https://www.neuq.edu.cn/">NorthEastern University at Qinhuangdao (NEUQ)</a>, Hebei, China. With excellent grades and technological innovation capability, he was recommended for admission to <a href="https://english.nudt.edu.cn/">National University of Defense Technology (NUDT)</a>, Hunan, China.

              <h1></h1>

              <h6>Concact Me</h6>

              <b>Email: </b>yueliu19990731 AT 163 DOT com 

              </br>

              <b>QQ: </b>646154512

              </br>

              <b>Wechat: </b>[<a href="../assets/img/wechat/QR Code.pdf">QR Code</a>]

              </br>

              [<a href="https://scholar.google.com/citations?user=5tfpu3MAAAAJ&hl=zh-CN">Google Scholar</a>] [<a href="https://github.com/yueliu1999">Github</a>] 



</header>
          <section>

              {{ content }}

          </section>

      </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
